body {
  background: url(../img/back.png) fixed no-repeat;
  backdrop-filter: blur(5px);
}


.app {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.temp {
  margin: 50px auto;
}

